* {
    padding: 0;
    margin: 0;
}
body{
    font-family: tahoma, sans-serif;
    background-position: center;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    background-color: #074f8d;
    width: 100%;
    height: 35px;
    color: #60b5ed;
    font-size: 14px;
    overflow: hidden;
}
.header ul {
    margin-left: 40%;
}
.header a {
    display: block;
    padding: 9px 12px;
    text-decoration: none;
    color: #60b5ed;
}
.header li {
    float: left;
    list-style-type: none;
}
.header a:hover{
    background-color: #4eabda;
    color: white;
}
.header li:nth-child(7){
    padding: 8px;
}
.header li:nth-child(7) a {
    display: inline;
    text-decoration: underline;
    color: white;
}
.header li:nth-child(6) a {
    color: white;
    border-left: 1px solid #60b5ed;
}
.header li:nth-child(7) {
    background: linear-gradient(to top, #2e7ac4, #51b1dc);
    color: white;
    height: 18px;
}
#flag {
    display: block;
    float: left;
    margin-right: 5px;
}
article {
    width: 560px;
    height: 610px;
    margin: auto;
    margin-top: 210px;
    background-color: rgba(0, 0, 0, 0.63);
}
.article1 {
    width: 100%;
    height: 62px;
    border-bottom: 2px solid #b7c0ad;
    text-align: center;
    line-height: 62px;
    color: #b7c0ad;
    font-size: 24px;   
}
.wrap1 {
    width: 276px;
    margin: auto;
}
.article2 {
    margin: 30px 0 20px 0
}
.article3 {
    width: 100%;
    color: #666666;
}
.article3 div {
    float: left;
}
#line1, #line2{
    width: 43%;
    color: #999999;
    height: 9px;
    border-bottom: 1px solid #666666;
    box-shadow: 0 1px 0 black;
}
#ou {
    color: #999999;
    font-size: 14px;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.article4 {
    clear: both;
}
.article4 ul {
    list-style-type: none;
}
.article4 input{
    width: 95%;
    height: 35px;
    background-color: #0f0e0e;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #484848;
    padding-left: 14px;
    margin-top: 15px;
}
::-webkit-input-placeholder {color:#cccccc;}
::-moz-placeholder          {color:#cccccc;}
:-moz-placeholder           {color:#cccccc;}
:-ms-input-placeholder      {color:#cccccc;}
.checkbox {
    margin-top: 20px;
    color: #cccccc;
    font-size: 14px;
}
.article4 input:focus{
    background-color: #1b5288;
    box-shadow: 0 1px 15px #689bcc;
    border-bottom: 1px solid #689bcc;
}
.checkbox input {
    margin-right: 5px;
}
.submit form {
    text-align: center;
}
.submit input {
    text-align: center;
    width: 150px;
    height: 36px;
    background: linear-gradient(#50aedb, #2e7ac4);
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
}
.privacy{
    margin: auto;
    margin-top: 15px;
    color: #cccccc;
    font-size: 11px;
    text-align: center;
    width: 55%;
}
.facebook {
    cursor: pointer;
    width: 276px;
    height: 34px;
    background: linear-gradient(to top, #374164, #3e5694);
    border: none;
    box-shadow: inset 0 1px 0 #778ab5;
    border-radius: 5px;
    margin: 30px 0
}

.fb_logo, .fb_login, .follow{
    text-align: center;
    float: left;
    height: 80%;
    
}
.fb_logo {
    width: 36px;
    padding-top: 6px;
}
.fb_login {
    padding-top: 6px;
    padding-left: 15px;
    color: white;
    font: 15px tahoma;
    box-shadow:  -1px 0 0px #203c6e;
    border-left: 1px solid #627499;
} 
.follow {
    padding-top: 2px;
    padding-left: 15px;
    color: white;
    font: bold 20px tahoma;
    height: 100%;
}